body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1 a {
  font-size: 1.8rem;
}
h1 a.text-light:hover {
  color: white !important;
  text-decoration: none !important;
}
.nuevo-post {
  font-weight: bold;
  text-transform: uppercase;
  max-width: 185px;
  min-width: 150px;
}

.click {
  cursor: pointer;
}

.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex: 1;
}
@media (min-width: 768px) {
  .navbar .btn {
    flex: 0 1 auto;
  }
}
.acciones {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .acciones {
    margin: 0;
  }
}
.acciones > * {
  flex: 1;
}

.return-arrow-icon {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 20px;
}

.rrss-icon {
  width: 30px;
  top: 5px;
  position: relative;
}
